<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <style>
        .image {
            height: 35vh;
            width: 100%;
            background-position: center;
        }
    </style>
</head>
<body>
    <div>
       <img class="image" src="/img/Todo-list-1024x576.jpeg" alt="Todo List Image" >
        <h1>TODO</h1>
    </div>
    <div>
        <input placeholder="Add a new task here...">
        <button>Add</button>
    </div>

    <div>
        <p>buy milk</p>
        <p>1 task left</p>

    </div>


</body>
</html>