<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div class="App">
    <div class="banner" >

    </div>
    <div>

        <div class="todo">
            <h1 class="header">Todo</h1>
            <form action="/todo" method="post">
                <div class="input-container">
                        <input class="input" name="taskName" placeholder="Add a new task here...">
                        <button type="submit" class="add-btn"> Add</button>
                </div>
            </form>
            <div class="todolist-container">
                <div th:each="task : ${tasks}" class="todos-container">
                    <p th:text="${task.taskName}"> buy milk</p>

                </div>
                <div>
                    <div class="todo-footer">
                        <p>1 task left</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>